/*#############################*/
@charset "UTF-8";
/* CSS Document */

html{
	height:100%;
	}
body{
	width: 100%;
	background-color:navy;
 background-image: url("../Tekstury/Background.jpg");
}

header{
	background-color:green;
}
logo{
	background-color:black;
	float:left;
}
baner{
	background-color:white;
	float:left;
}
login{
	color: white;
	float:right;
}

.Clearfloat {
	clear:both;
	width:100%;
}

.FloatLeft {
	float:left;
	width:30%;
}

#topbar{
	background-color: saddlebrown;
	background-image: url(../Tekstury/TopNavPlank.jpg);
	/*float:left;*/
	width:100%;
	height: 30px;
	text-align:center;
}
main{
	/*background-color:red;*/
	width:100%;
}
leftpanel{
 background-image: url("../Tekstury/Metal.jpg");
	color: gold;
	width:20%;
	background-color:slategrey;
	float:left;
	text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
wall{
 background-image: url("../Tekstury/sciana.jpg");
	border:3px solid black;
	width:75%;
	background-color:darkgrey;
	float: left;
}
article{
 background-image: url("../Tekstury/papier-brazowy-papirus_53876-14519.jpg");
	border:1px solid black;
	margin:2%;
	padding:0 10px;
	width:92%;
	background-color:tan;
	float: left;
	color:#090356;
}

.Article{
 background-image: url("../Tekstury/papier-brazowy-papirus_53876-14519.jpg");
	border:1px solid black;
	margin:2%;
	padding:0 10px;
	width:92%;
	background-color:tan;
	float: left;
	color:#090356;
}

.topButton{
 background-image: url("../Tekstury/Skora.png");
	float: left;
 margin-top:5px;
 margin-left:9%;
 padding-left:20px;
 padding-right:20px;
}

.leftButton{
 background-image: url("../Tekstury/MetalPlate.jpg");
 background-size:  100% 100%;
}

footer{
	background-color: green;
 background-image: url("../Tekstury/TopNavPlank.jpg");
	height: 30px;
	clear:both;
}

a {
  color: White;
}
